html, body {
  height: 100%;
  width: 100%;
}
.box {
  width: 500px;
  height: 250px;
  border: 5px solid #A50000;
  margin: 5px;
}
ul{
  font-family: sans-serif;
}
.green-text {
  color: green;
}
.red-text {
  color: #A50000
}
.center {
  text-align: center;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  list-style-type: none;
  
}
.main-content {
  width: 80%;
  margin: auto;
}
.imagebox {
  width: 550px;
  height:560px;
  border: 5px solid #A50000;
  
  
}
.inline {
  display: inline;
}

.box2 {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}
.homeborder {
  width: 1000px;
  height: 500px;
  border: 5px solid #A50000;
  margin: 5px;
  text-align: center;
}
.small {
  width: 325px;
  height: 325px;
  padding: 1em;
  display: inline;
}